<h2>Visitando Å, la ciudad con el nombre más corto del mundo</h2>

<p>Å (pronunciado como la vocal española o) es un pequeño pueblo perteneciente al municipio de Moskenes, 
   en las islas Lofoten, en Noruega. Con un nombre tan peculiar como corto, Å era un tradicional pueblo pesquero 
   especializado en la salazón y desecación de pescado, especialmente de bacalao. Actualmente, su economía se ha 
   desplazado hacia el turismo. El pueblo posee dos museos: el Lofoten Tørrfiskmuseum y el Norsk Fiskeværsmuseum. 
   Está comunicado por la Carretera del Rey Olaf.Å significa “riachuelo” en noruego.</p>