<h2>Navegando por el río Amazonas</h2>


<p>Navegar por el río Amazonas desde Manaos hasta su desembocadura, lleva seis días, en un barco que ademas de 
   transportar personas lleva mercaderias, autos, tractores, una pequeña parte del barco esta reservada para
   los turistas, el resto son personas que viven a las orillas del río y usan este barco como su unico medio de 
   transporte, lo que hace que durante el viaje puedas compartir todo el tiempo que los habitantes del río.
   Fue una de las experiencas mas lindas que viví en la vida.</p>