<h2>Visita al castillo de Hamlet</h2>


<p>El Castillo de Kronborg (en danés Kronborg slot) está situado cerca de Elsinor, Dinamarca. Es uno de los cuatro 
    monumentos daneses declarados en 2000 Patrimonio de la Humanidad culturales, junto a la catedral de Roskilde, 
    las runas, túmulos e iglesia de Jelling y el fiordo helado de Ilulissat.
    Durante varios siglos Dinamarca obtuvo importantes ingresos económicos cobrando una tasa a los barcos que 
    atravesaban el estrecho de Oresund, estrecho que separa a la isla danesa de Selandia del territorio sueco. 
    El palacio de Kronborg cumplió un importante rol en esta tarea recaudatoria. En la actualidad el palacio es sede 
    del Museo Marítimo y de Comercio de Kronborg. Algunas de sus dependencias pueden ser visitadas por el público.
    Es el lugar donde acontece Hamlet, la obra de Shakespeare. En dicha obra, el palacio de Kronborg tiene la 
    denominación de "Elsinore".</p>