<h1>{{title}}</h1>
<p>Tarea del {{title}}</p>
<nav>
    <ul>
        <li><a href="/a">Å</a></li>
        <li><a href="/amazonas">Navegando por el Amazonas</a></li>
        <li><a href="/hamlet">Castillo de Hamlet</a></li>
    </ul>
</nav>

<h3>Método Get</h3>
<p>En: localhost:3000/ruta1</p>
<p>En: localhost:3000/ruta2</p>